* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    background-image: url(images.jpeg);
}

h1 {
    text-align: center;
    color: #fa0a0a;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.enviar {
    width: 100%;
    padding: 10px;
    background-color: #95e711;
    color: rgb(247, 239, 239);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

button.enviar:hover {
    background-color: #12cee7;
    color: rgb(0, 0, 0);
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    .form-container {
        padding: 10px;
    }
    .form-group label,
    .form-group input,
    button.enviar {
        font-size: 14px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Responsive  */

@media (max-width: 600px) {
    .form-container {
        padding: 10px;
    }
    .form-group label,
    .form-group input,
    button.enviar {
        font-size: 14px;
    }
}
