.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #a89d9d;
    padding: 20px;
    border: 1px solid #0e0404;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
    background-color: #0b555f;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
}

button:hover {
    background-color: #404242;
    color: #fff;
}

button:active {
    transform: scale(0.95);
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

button.formulario {
    animation: bounce 2s infinite;
    background-color: #0e59e4;
    color: rgb(22, 21, 21);
}


/*responsividad */

@media (max-width: 600px) {
    * {
        background-color: rgb(112, 172, 240);
    }
    body {
        font-size: 14px;
    }
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
